.main_div {
	background-color: white;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.inv_select_section {
    padding: 4px 0 4px 0;
    width: 100%;
}